@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: black;
}
p {
	color: white;
}

h2 {
	@apply text-stone-300;
}

h3 {
	@apply text-stone-500;
}

h2 {
	@apply text-xl;
}

p, h2, h3 {
	font-family:"Times New Roman", Times, serif;
}
